@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
html{
  font-size: 16px;
}
*{
    margin: 0;
}

/* Shared styles */
.display-flex{
    display: flex;

    gap: 1rem;
}
.section{
    margin: 0 auto;
    max-width: 1440px;
    padding: 3rem 2rem;
}

/* Dark-2 */
.primary-color{
    color: #424242;
}
/* Dark-3 */
.secondary-color{
    color: #727272;
}
/* font-orange */
.orange-font{
    color: #FF900E;
}

/* Background Color */
.bg-color{
    background-color: rgba(255, 144, 14, 0.1);
}
/* Title */
.header-title{
    font-size: 4rem;
    font-weight: 700;
}

.section-title, .brand-name{
    font-size: 2.8rem;
    font-weight: 700;
    padding-top: 0;
    padding-bottom: 0;
}
.sub-title{
    font-size: 1.2rem;
    font-weight: 500;
}
.description{
    font-weight: 400;
    color: #727272;
}
/* Button Primary */
.btn-primary{
    padding: 21px 24px;
    border-radius: 8px;
    border: none;
    background: #FF900E;
    color: white;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
/* .btn-primary :hover{
    background-color: green;
    color: white;
} */
.margin{
    margin: 30px 0;
}



/* Header Section Styles */


/* Navbar Styles */
.navbar{
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    padding: 30px 20px;
}

.nav-items li{
    list-style: none;
    /* margin-left: 50px; */
}
.nav-items a{
    text-decoration: none;
    color: #424242;
}


/* Header Container Styles */
.header-container{
    text-align: center;
    justify-items: center;
    padding-bottom: 30px;
}
.header-content{
    max-width: 850px;
}
.header-container img{
    width: 100%;
}

/* Features Explore Styles */
.features-container{
    gap: 3rem;
    align-items: center;

}
.features-images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}
.features-images img{
    width: 100%;
}

/* Container right */
.features-content{
    width: 50%;
    text-align: center;
}
.features-content p{
    margin:2rem;

}






/* Responsive for Small Devices (>576px) */
@media screen and (max-width: 576px){
    .navbar{
        display: flex;
        flex-direction: column;
        justify-items: center;
        text-align: center;

    }
    .nav-items{
        justify-items: center;
        padding-left: 0%;
    }

    /* Features Explore */
    .features-container{
        flex-direction:column-reverse;
    }
    .features-images{
        grid-template-columns: repeat(1, 1fr);
    }
    .features-content{
        width: 100%;

    }

}

